@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --cor0: #71faff;
    --cor1: #1C244B;
    --cor2: #324A6D;
    --cor3: rgba(61, 165, 196, 0.418);
    --cor4: white;
    --cor5: #2575fc;

    --fonte-padrao: 'Poppins', sans-serif;
    --fonte-destaque: 'Lato', sans-serif;
    --fonte-detalhe: 'Open Sans', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
body {
    color: #1C244B;
    background-color: rgb(255, 255, 255);
    font-family: var(--fonte-padrao);

}
header { 
    min-height: 100px;
    padding-top: 30px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img { 
    max-width: 130px;
}
nav {
    color: var(--cor1);
    font-size: 1em;
    text-align: right;
    padding: 20px;
}
nav > a {
    color: var(--cor1);
    font-family: var(--fonte-padrao);
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
}
nav a:hover {
    color: var(--cor1);
    text-decoration: underline;
    background-color: var(--cor3);
    border-radius: 10px;
    padding: 10px;
}
nav a:visited {
    color: var(--cor2);
}
main {
    text-align: center;
    min-width: 300px;
    max-width: 100%;
    margin: auto;
}

main .container {
    background-color: var(--cor0);
    position: relative;
    background-image: url(../imagens/gota-de-água.jpg) ;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0px 120px 0px;
    margin-right: auto;
    margin-left: auto;
    columns: 2;
}
main div#coluna1{
    display: inline-block;
    color: var(--cor1);
    max-width: 58%;
    margin: 50px 0px 0px 0px;
    padding: 0px;
}
.botao1 {
    padding: 22px 54px 22px 45px;
    font-family: var(--fonte-padrao);
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #2575fc;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #4481fe;
    border-radius: 49px 49px 49px 49px;
    box-shadow: 19px 19px 40px 0px rgb(0 0 0 / 10%);
    display: inline-block;
    line-height: 1;
}
.botao1 > a {
    color: var(--cor4);
    text-decoration: none;
}
.botao2 {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 15px;
    font-weight: 300;
    background-color: #2575fc;
    padding: 22px 54px 22px 45px;
    margin-top: 30px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--cor2);
    border-radius: 49px 49px 49px 49px;
    box-shadow: 19px 19px 40px 0px rgb(0 0 0 / 10%);
    display: inline-block;
}
.botao2:hover {
    color: #1C244B;
    background-color: var(--cor2);
    border-color: var(--cor5);
}
.botao2 > a {
    color: var(--cor4);
    text-decoration: none;
}
.botao2 a:hover {
    color: var(--cor4);
}

main div#coluna2 img {
    display: inline-block;
    max-width: 42%;
    align-items: right; 
    margin: auto;
}

main h1 {
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
    text-align: center;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 80px;
}
main h2 {
    color: var(--cor1);
    font-family: var(--fonte-detalhe);
    font-style: italic;
    font-size: 30px;
    font-weight: 400;  
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 80px;  
    text-align: left;
}
main h3 {
    color: var(--cor1);
    font-family:  'Poppins',  sans-serif;
    font-size: 60px;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    line-height: 1.2em;
    
}
main h4 {
    color: var(--cor1);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
}

main p {
    color: #324A6D;
    font-size: 16px;
    font-weight: 300;
}
section#marcasvendidas h3 {
    padding-top: 60px;
}
div.marcas {
    columns: 6;
    max-width: 1000px;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 150px;
    padding-left: 0px;
    margin: auto;

}
div.colunasmarcas {
    max-width: 250px;
}

.colunasmarcas p {
    contain: size;
    font-weight: 300;
}
.marcas img{
    max-width: 150px;
}
section#entrega {
    max-width: 1000px;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 150px;
    padding-left: 0px;
    margin: auto;
    columns: 2;
    text-align: start; 
}
section#entrega h3 {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: start;
    line-height: 1.2em;
}
section#entrega aside img{
    display: inline-block;
    max-width: 70%;
    align-items: right; 
    margin: auto;
    padding-left: 100px;
}
section#pagamento { 
    padding-top: 50px;
    padding-bottom: 30px;
    max-width: 1000px;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 150px;
    padding-left: 0px;
    margin: auto;
    columns: 2;
    text-align: start; 
}
section#pagamento h3 {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: start;
    line-height: 1.2em;
}
section#pagamento aside img{
    display: inline-block;
    max-width: 70%;
    align-items: left; 
    margin: auto;
    padding-left: 100px;
}
section#contato {
    max-width: 1000px;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 150px;
    padding-left: 0px;
    margin: auto;
    columns: 2;
    text-align: start; 

}
section#contato aside img{
    display: inline-block;
    max-width: 70%;
    align-items: right; 
    margin: auto;
    padding-left: 100px;
}
section#contato h3 {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: start;
    line-height: 1.2em;
}
footer {
    background-color: var(--cor1);
    padding: 20px;
}
footer p {
    color: white;
    font-weight: 300;
}
footer p > a {
    color: white;
    text-decoration: none;
}
footer p > a:visited {
    color: var(--cor0);
}